@import "bonsai/scss/global";
@include bonsai;

@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav {
  border-top: none;

  .logo {
    vertical-align: bottom;
  }
}

.content {
  min-height: 500px;
}

.home {
  width: 100%;

  .hero {
    @include background-cover;

    padding: 0;
    background-image: url("/static/images/colors.jpg");
    height: 300px;

    .overlay {
      background-color: rgba(0, 0, 0, 0.4);
      height: 100%;
      padding-top: 120px;
    }
  }
}

.purchase {
  width: 100%;
}
